*{
    padding: 0;
    margin: 0px 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url(../Imagenes/Fondo.jpg);
    margin: 10px;
}
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: url( ../Imagenes/design1_image2.jpg);
    background-position: left;
    background-size: cover;
    height: 276px;
    align-items: flex-start;
}
header> h1{
    width: 80%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 1.5px rgb(197, 72, 50);
    color: rgb(248, 225, 46);
    text-shadow: -3px 0px 2px rgb(89, 151, 144, 1); /* el primer numero el lado del sombreado si es neg es izq, el segundo es arriba o abajo y el tercero es el difuminado */
    padding-top: 23px;
}
#posicion{
    background-color: rgb(197, 72, 50);
    color: aliceblue;
}
nav>a{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin: 0px 0px 10px 10px;
    background-color: rgb(89, 151, 144);
    color: aliceblue;
    box-shadow: -5px 5px 3px rgb(56, 53, 53);
    border: 1px solid black;
}
nav{
    width: 100%;
    padding-top: 125px;
    padding-right: 19px;
    display: flex;
    justify-content: flex-end;
}
dt{
    font-weight: bold;
}
dd{
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 5px;
}
dl{
    padding-top: 39px;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
}
h3{
    font-size: x-large;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 1.5px rgb(197, 72, 50);
    color: rgb(248, 225, 46);
    text-shadow: -3px 0px 2px rgb(89, 151, 144, 1);
    font-variant: small-caps;

}
#img{
    border-radius: 34%;
    border: 2px double;
}
#section-a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}
article{
    width: 50%;
} 
p{
    padding-bottom: 25px;
    padding-top: 10px;
}
#general-information{
    width: 70%;
}
#aclaracion{
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
}
table{
    border: 3px solid;
    width: 50%;
    height: 100px;
    text-align: center;
}
.borde{
    border-bottom: 1px solid black;  
}
th{
    border-bottom: 2px solid black;
}
td{
    height: 32px;
}
table,tr,th,td {
    border-collapse: collapse;
}
div{
    width: 45%;
}
#segunda-list{
    padding-left: 70px;
    list-style-type: lower-latin;
}
.li-1{
    padding-bottom: 10px;
}
#dl-rules{
    padding-top: 0;
}
#contacto{
padding-top: 73px;
}
